TeacherShare/JAVA_class_1_2017_04_08/XML_LX/student0.dtd

<?xml version="1.0"  encoding="UTF-8"?>
<!ELEMENT student (row+)>
<!ELEMENT row (sid,sname,sage,smobile,semail,saddress)>
<!ELEMENT sid (#PCDATA)>
<!ELEMENT sname (#PCDATA)>
<!ELEMENT sage (#PCDATA)>
<!ELEMENT smobile (#PCDATA)>
<!ELEMENT semail (#PCDATA)>
<!ELEMENT saddress (#PCDATA)>




